h1{
    margin: 1rem;
}
.id-kotak{
    border: 1px solid #4895D7    ;
    width: 120vh;
    height: 25vh;
    margin: 1rem;
}
.child-kotak{
    border: 1px solid #4895D7;
    width: 120vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.child-kotak>span{
    font-size: 20pt;
    margin: 0.5rem 1rem 0 1rem;
}
.child-kotak>a>img{
    margin: 0.5rem 1rem 0 1rem;
    width: 40px;
}
.child-kotak>a>img:hover{
    width: 50px;
}
.childern-kotak>table{
    font-size: 15pt;
    width: 100%;
    padding: 15px;
    text-align: center;
}
